@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div id="jumboText">
        <h2>Don't know what to wear?</h2>
        <p class="lead">Find out more about getting your very own personal stylist and never worry about what to wear again.</p>
        <p><a href="https://www.stitchfix.com/men" class="btn btn-primary btn-lg">Learn more</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <h2>Tops</h2>
            <a href="~/Tops">
                <img id="homeImg" src="~/images/button_grey.jpg" alt="Grey Shirt"/>
            </a>
            <p><br /><a class="btn btn-default" href="~/Tops">Browse Tops</a></p>
        </div>
        <div class="col-md-6 col-xs-12">
            <h2>Bottoms</h2>
            <a href="~/Bottoms">
                <img id="homeImg" src="~/images/chino_grey.jpg" alt="Grey Pants"/>
            </a>
            <p><br /><a class="btn btn-default" href="~/Bottoms">Browse Bottoms</a></p>
        </div>
        <div class="col-md-6 col-xs-12">
            <h2>Footwear</h2>
            <a href="~/Footwears">
                <img id="homeImg" src="~/images/sneaker_white.jpg" alt="White Sneakers"/>
            </a>
            <p><br /><a class="btn btn-default" href="~/Footwears">Browse Footwear</a></p>
        </div>
        <div class="col-md-6 col-xs-12">
            <h2>Accessories</h2>
            <a href="~/Accessories">
                <img id="homeImg" src="~/images/beanie_black.jpg" alt="black beanie"/>
            </a>
            <p><br /><a class="btn btn-default" href="~/Accessories">Browse Accessoriess</a></p>
        </div>
    </div>
</div>